
<launch>
  <node pkg="auv_navigation" type="test_node" name="test_node" output="screen">
    <param name="w1" value="0.924" />
    <param name="x1" value="0.0" />
    <param name="y1" value="0.0" />
    <param name="z1" value="0.383" />
    <param name="w2" value="-0.924" />
    <param name="x2" value="0.0" />
    <param name="y2" value="0.0" />
    <param name="z2" value="0.383" />

    <param name="x0" value="1" />
    <param name="v0" value="0.2" />
    <param name="a0" value="0.08" />
    <param name="xf" value="1.5" />
    <param name="vf" value="0.5" />
    <param name="af" value="0" />
  </node>
</launch>